/* $color-gray-dark: #BCCBC6; */
/* $color-brown: #2F0003;  */
/* $color-gray-light: #DCE5E4; */

/* $color-wood-body: #EEB85B; */
/* $color-wood-bark: #814923; */
/* $color-wood-line: #D6882A; */
/* $color-dark-brown-wood: #421A00; */
/* %color-hat-light: #4B7FA6; */
/* $color-hat-dark: #376689; */
/* $color-beard: #534141; */
/* $color-face: #FAF8D0; */
/* $color-nose: #EBD8A7; */
/* $colo-body: #AE6565; */

.animationSaw {
    transform-origin: 10px 0px;
    animation: moveSaw 1.5s infinite;
    animation-fill-mode: backwards;
}

@keyframes moveSaw {
    0% { transform: translate(-3%);}
    50% {transform: translate(3%);}
    100% {transform: translate(-3%);}
}

.animationHand {
    transform-origin: 10px 0px;
    animation: moveHand 1.5s infinite;
    animation-fill-mode: backwards;
}

@keyframes moveHand {
    0% { transform: translate(-3%);}
    50% {transform: translate(3%);}
    100% {transform: translate(-3%);}
}