#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  max-width: 100%;

  /* $color-glasses: #F7E7E3; */
  /* $color-cap: #73293B; */
  /* $color-cap-light: #8E4056; */
  /* $color-yellow: #C8B772; */
  /* $color-black-light: #1F1F1F; */
  /* color-background: #B6A1B4; */
  /* $color-grey-dark: #A3A3A3; */
  /* $color-gray: #BDC6C6; */
  /* $color-body: #F9CEBF; */
  /* $color-jacket-collar: #202020; */
  /* $color-jacket: #2C2A26; */
}
