#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  border: 2px dotted rgba(0,0,0, .4);
  max-width: 100%;
}

/* $color-body: #FDD0B1; */
/* $color-hair: #7B4328; */
/* $color-braces: #8DC2B5; */
/* $color-blush: #FBB291; */
/* $color-shadow=mouth: #D5CCD3; */
/* $color-blue-sweater: #77C8C9; */
/* $color-sweater-dark-blue: #677DD0; */
/* $color-sweater-violet: #AE70C3; */
/* $color-pink-flower: #D84B92; */