#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  max-width: 100%;
}

/* theme */

/* background: #030a24;
eyes: #AFD0FE;
skin: #638F6D;
hat: #2D4D65;
blue-light-on-the-hat: #6393BF;
shadow-hat: #11345C;
red: #895645;
yellow: #C1C102;
shadow-face: #11345C;
sweater: #452620;
tongue: #943CE2; */
