/* theme */

/* background: #030a24;
eyes: #AFD0FE;
skin: #638F6D;
body: #2A3136;
hat: #2D4D65;
blue-light-on-the-hat: #6393BF;
shadow-hat: #11345C;
red: #895645;
yellow: #C1C102;
shadow-face: #11345C;
sweater: #452620;
hand: #423903;
tongue: #943CE2; */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  max-width: 100%;
}

.handMove {
  transform-origin: center;
  animation: handMove 5s infinite;
  animation-fill-mode: backwards;
}

@keyframes handMove {
  0% {
    transform: rotate(-0.02turn) translate(0.5%);
  }
  30%,
  55% {
    transform: rotate(0turn) translate(-5%);
  }
  75%,
  100% {
    transform: rotate(-0.02turn) translate(0.5%);
  }
}

.pupilMuve {
  transform-origin: center;
  animation: pupilMove 5s infinite;
  animation-fill-mode: backwards;
}

@keyframes pupilMove {
  0% {
    transform: translate(0);
  }
  35% {
    transform: translate(0);
  }
  50% {
    transform: translate(-10.8%);
  }
  85% {
    transform: translate(-10.8%);
  }
  95% {
    transform: translate(0%);
  }
  100% {
    transform: translate(0%);
  }
}
