.container {
    background-color: #483890;;
    width: 100vw;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .box {
    display: inline-block;
  }

$color-orange: #F1B132;
$color-yellow: #FFD143;
$color-white: #fff;
$color-grey: #E9E6E4;
$color-blue: #483890;
$color-star: #7F75AB;