body {
  background-color: rgb(153, 255, 204);
}

.container {
  width: 600px;
  height: 600px;
  background-color:  rgb(153, 255, 204);
  margin:  100px auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-1 {
  width: 300px;
  height: 300px;
  background-color: #00d647;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.circle-2 {
  width: 350px;
  height:350px;
  background-color:  rgb(153, 255, 204);
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  transform: translate(-150px, 20px);
}

.circle-3 {
  width: 10px;
  height: 10px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 3;
  transform: translate(-65px, -135px);
  border-radius: 50%;
}

.circle-4 {
  width: 10px;
  height: 10px;
  background-color: #00d647;
  position: absolute;
  z-index: 4;
  transform: translate(-57px, -134px);
  border-radius: 50%;
}

.circle-5 {
  width: 300px;
  height: 300px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 6;
  transform: translate(57px, 180px);
  border-radius: 50%;
}

.circle-6 {
  width: 300px;
  height: 300px;
  background-color: #00d647;
  position: absolute;
  z-index: 5;
  transform: translate(-10px, 170px);
  border-radius: 50%;
}

.circle-7 {
  width: 350px;
  height: 350px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 7;
  transform: translate(35px, 205px);
  border-radius: 50%;
}

.circle-8 {
  width: 350px;
  height: 350px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 8;
  transform: translate(-125px, 205px);
  border-radius: 50%;
}

.circle-9 {
  width: 20px;
  height: 20px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 8;
  transform: translate(-69px, 40px);
  border-radius: 50%;
}

.circle-10 {
  width: 20px;
  height: 20px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 8;
  transform: translate(-55px, 50px);
  border-radius: 50%;
}

.circle-eye {
  width: 30px;
  height: 30px;
  background-color: #03ba40;
  position: absolute;
  z-index: 9;
  transform: translate(10px, -145px);
  border-radius: 50%;
}

.circle-eye__white {
    width: 28px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 10;
    transform: translate(10px, -145px);
    border-radius: 50%;
    animation: closeEye 2.5s infinite;
}
  
@keyframes closeEye {
0% { height: 10px; }
10% { height: 1px; }
20% { height: 10px; }
}


.leg-1 {
  width: 90px;
  height: 90px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 11;
  transform: translate(80px, -20px);
  border-radius: 50%;
}

.leg-2 {
  width: 90px;
  height: 90px;
  background: #00d647;
  position: absolute;
  z-index: 11;
  transform: translate(90px, -15px);
  border-radius: 50%;
}

.leg-3 {
  width: 40px;
  height: 13px;
  background-color: rgb(153, 255, 204);
  position: absolute;
  z-index: 12;
  transform: translate(37px, 18px);
  border-radius: 30%;
}

.leg-4 {
  width: 20px;
  height: 20px;
  background-color: #00d647;
  position: absolute;
  z-index: 13;
  transform: translate(64px, 15px);
}

.fly {
  transform: translate(-100px, -400px);
  position: absolute;
  z-index: 10;
  display: flex;
  animation: move 4s infinite;
}

@keyframes move {
20% { transform: translate(0, -250px);} /* */
30% { transform: translate(-250px, -50px);}
40% { transform: translate(-350px, -300px);}
50% { transform: translate(250px, -300px);}
60% { transform: translate(150px, -200px);}
70% { transform: translate(150px, -300px);}
80% { transform: translate(-250px, -250px);}
90% { transform: translate(-350px, -200px);}
95% { transform: translate(-190px, -130px);}
96% { transform: translate(-190px, -130px);}
97% { transform: translate(-190px, -130px);}
98% { transform: translate(-190px, -130px);}
99% { transform: translate(-190px, -130px);}
100% { transform: translate(-190px, -130px);}
}


.fly__body {
    background-color: #802b00;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
  
.fly__wing--left {
    background-color: grey;
    border-radius: 50%;
    height: 10px;
    width: 20px;
    opacity: 0.4;
    transform: rotate(10deg);
    transform-origin: right;
    animation: wingLeftMove .2s infinite;
}

@keyframes wingLeftMove {
    50% {transform: rotate(-10deg);}
}
    
.fly__wing--right {
    background-color: grey;
    border-radius: 50%;
    height: 10px;
    width: 20px;
    opacity: 0.4;
    transform: rotate(-10deg);
    transform-origin: left;
    animation: wingRightMove .2s infinite;
}
    
@keyframes wingRightMove {
    50% {transform: rotate(10deg);}
}



.tangue {
  background-color: red;
  width: 130px;
  height: 5px;
  position: absolute;
  z-index: 3;
  animation: moveTongue 4s infinite;
  transform: scaleX(0) translate(-118px, -134px);
  transform-origin: 5px;
}

@keyframes moveTongue {
  95% {transform: scaleX(0) translate(-118px, -134px);}
  96% {transform: scaleX(1) translate(-118px, -134px);}
  100% {transform: scaleX(0) translate(-118px, -134px);}
}
