/* floor */

/* $color-blue: #63DCFB; */
/* $color-light-blue: #81FBFC; */
/* $color-blue-light-grey: #9FD0E7; */

/* background */

/* $color-blue: #6db8f1; */
/* $color-blue-light: #40CAF8; */
/* $color-blue-dark: #406CCB; */
/* $color-grey-light: #5796C2; */
/* $color-grey-dark: #467FAA; */

/* columns */

/* $color-blue-light: #81FBFC; */

/* drums */
/* $color-blue: #C4FCFB; */

/* cymbal */
/* $color-cymbal: #F6B409; */

/* * {
  animation: none !important;
} */

body {
  --animation: 1s;
}

.sleeveRight {
  animation: moveSleeveRight calc(var(--animation) / 4) infinite;
  transform-origin: 60% 40%;
}

@keyframes moveSleeveRight {
  0% {
    transform: rotate(0.8deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0.8deg);
  }
}

.handRight {
  animation: moveHandRight calc(var(--animation) / 4) infinite;
  transform-origin: 47% 41%;
}

@keyframes moveHandRight {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.handLeft {
  animation: moveHandLeft var(--animation) 0.5s infinite;
  transform-origin: 37% 48%;
}

@keyframes moveHandLeft {
  0% {
    transform: rotate(0);
  }
  14% {
    transform: rotate(10deg);
  }
  29% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animationEyes {
  transform: scaleX(1);
  transform-origin: 5px 150px;
  animation: muveEyes 2.3s infinite;
}

@keyframes muveEyes {
  5% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.muveCymbal {
  transform-origin: 206px 150px;
  animation: muveCymbal calc(var(--animation) / 4) infinite;
}

@keyframes muveCymbal {
  0% {
    transform: rotate(10deg);
  }
  14% {
    transform: rotate(0deg);
  }
  29% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.muveDrumsMedium {
  transform-origin: 262px 231px;
  animation: muveCymbal var(--animation) 0.56s infinite;
}

@keyframes muveCymbal {
  0% {
    transform: rotate(1deg);
  }
  14% {
    transform: rotate(0deg);
  }
  29% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.muveDrumBig {
  transform-origin: 358px 255px;
  animation: muveDrumBig var(--animation) infinite;
}

@keyframes muveDrumBig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(0.99);
  }
}
