/* floor */

/* $color-blue: #63DCFB; */
/* $color-light-blue: #81FBFC; */
/* $color-blue-light-grey: #9FD0E7; */

/* background */

/* $color-blue: #6db8f1; */
/* $color-blue-light: #40CAF8; */
/* $color-blue-dark: #406CCB; */
/* $color-grey-light: #5796C2; */
/* $color-grey-dark: #467FAA; */

/* columns */

/* $color-blue-light: #81FBFC; */

/* drums */
/* $color-blue: #C4FCFB; */

/* cymbal */
/* $color-cymbal: #F6B409; */

/* * {
  animation: none !important;
} */

body {
  --animation: 1s;
}

.sleeveRight {
  animation: moveSleeveRight calc(var(--animation) / 4) infinite;
  transform-origin: 60% 40%;
}

@keyframes moveSleeveRight {
  0% {
    transform: rotate(0.8deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0.8deg);
  }
}

.handRight {
  animation: moveHandRight calc(var(--animation) / 4) infinite;
  transform-origin: 47% 41%;
}

@keyframes moveHandRight {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.handLeft {
  animation: moveHandLeft var(--animation) 0.5s infinite;
  transform-origin: 37% 48%;
}

@keyframes moveHandLeft {
  0% {
    transform: rotate(0);
  }
  14% {
    transform: rotate(8deg);
  }
  29% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
